.openershoe{
    display: flex;
    margin: 2%;
    padding: 20px;
    position: relative;
    justify-content: center;
}

.openershoe__img{
    position: absolute;
    margin-top: 125px;
}

.openershoe__img--shoe{
    width: 1100px;
}

.openershoe__words{
    position: relative;
    
    &--zoom{
        color: #949494;
        font-size: 120px;
        margin-top: auto;
    }

    &--nike{
        font-size: 50px;
    }
}