.openershoe{
    display: flex;
    margin: 2%;
    padding: 20px;
    position: relative;
    justify-content: center;
}

.openershoe__img{
    position: absolute;
}

.openershoe__img--shoe{
    width: 1100px;
}