@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  font-family: 'Odibee Sans', cursive;
  font-size: 16px;
}

body {
  background: #424242;
  background: -webkit-gradient(left top, right top, color-stop(0%, #424242), color-stop(100%, #707070));
  background: -webkit-gradient(linear, left top, right top, from(#424242), to(#707070));
  background: linear-gradient(to right, #424242 0%, #707070 100%);
}

.mainnav__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainnav {
  margin-left: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline-block;
}

.mainnav__link {
  color: white;
  -webkit-text-decoration: white;
          text-decoration: white;
  padding: 6px 0px;
  text-decoration: none;
  font-size: 1.4em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 40px;
  display: inline-block;
}

.mainheader {
  margin: 5px 30px;
  padding: 10px;
}

.container {
  margin-top: 10px;
}

.mainheader__logo {
  width: 150px;
  margin-left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainnav__logout {
  width: 20px;
  background-color: white;
}

.mainnav__search {
  width: 20px;
  margin-left: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainnav__plus {
  margin-left: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}

.mainnav__link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.mainnav__link:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.receiver {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.receiver_text {
  font-family: 'Odibee Sans';
}

.receiver__text--nike {
  position: static;
  font-size: 5em;
  padding: 0;
  margin: 0;
  top: 500px;
  left: 100px;
  color: white;
}

.receiver__text--next {
  position: static;
  font-size: 5em;
  padding: 0;
  margin: 0;
  right: 100px;
  top: 500px;
  color: white;
}

.receiver__text--vapor {
  position: static;
  font-size: 5em;
  padding: 0;
  margin: 0;
  color: #B8B8B8;
}

.receiver__text--fly {
  position: static;
  font-size: 5em;
  padding: 0;
  margin: 0;
  color: #B8B8B8;
}

.receiver__text--zoom {
  position: static;
  font-size: 5em;
  padding: 0;
  margin: 0;
  color: #B8B8B8;
}

.receiver__text--x {
  position: static;
  font-size: 50em;
  padding: 0px;
  margin: 0;
  top: 300px;
  left: 50%;
  right: 50%;
  color: #B8B8B8;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */